---
const key = import.meta.env.PUBLIC_BUILDER_API_KEY; // <-- PUBLIC_ prefix
const model = 'page';
const targetUrl = '/';
---
<html lang="en">
  <head><meta charset="utf-8" /><title>Builder Preview</title></head>
  <body>
    <builder-component model={model} api-key={key} data-url={targetUrl} preview></builder-component>
    <script async src="https://cdn.builder.io/js/webcomponents"></script>
  </body>
</html>
