---
const key = import.meta.env.PUBLIC_BUILDER_API_KEY;
const model = 'page';
const targetUrl = new URL(Astro.request.url).searchParams.get('url') || '/';
---
<html lang="en">
  <head><meta charset="utf-8" /><title>Builder Preview</title></head>
  <body style="min-height:100vh">
    <builder-component
      model={model}
      api-key={key}
      data-url={targetUrl}
      preview
      style="display:block;min-height:50vh"
    ></builder-component>
    <script src="https://cdn.builder.io/js/webcomponents"></script>
  </body>
</html>
